     <div class="card-style container m-3">
        <div class="dark-background flex justify-between items-center h-12">
            <h3 class="dark-background mx-3 text-lg light-color">{{title}}</h3>
            <h5 class="dark-background mx-3 light-color text-sm">Posted by {{user.username}} on {{format_date creation_date}}</h5>
        </div>
        <div class="blog-content flex m-4">
            <p>{{content}}</p>
        </div>
    </div>