<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Tech Blog</title>
</head>

<body>
  <header>
    <nav class="dark-header h-40 pt-5">
      {{!-- <div class="container w-28 flex flex-col"> --}}
        <ul class="flex w-96 flex-row flex-wrap flex-initial justify-start">
          <li class="flex mx-5"><a href="/">Home</a></li>
          <li class="flex mx-5"><a href="/Dashboard">Dashboard</a></li>
          {{#if loggedIn}}
          <li class="flex mx-5" id="logout"><a href="/">Logout</a></li>
          {{else}}
          <li class="flex mx-5"><a href="/Login">Login</a></li>
          {{/if}}
        </ul>
        {{!-- </div> --}}
      {{!-- Write double if statement for the change of title in title div, otherwise else works for this --}}
        {{#if isNotDashboard}}
        {{!-- h-12 mt-8 h-10 ml-10 w-52 --}}
        <div class="flex ml-10 h-24 w-72 justify-center items-center">
         {{!-- h-12 w-52 mt-8 ml-8 w-52 h-10 --}}
          <h1 class="title-head h-auto w-72 text-center">The Tech Blog</h1>
        </div>
        {{else}}
        <div class="flex ml-10 h-24 w-72 justify-center items-center">
          <h1 class="title-head h-auto w-72 text-center">Dashboard</h1>
        </div>
        {{/if}}
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>