<div class="flex flex-col flex-nowrap justify-center items-center w-full mt-10">
    {{#each blogs as |blog|}} 
    {{> blogPartialSemi}}
    {{/each}} 
    <a href="/createBlog"><button class="dark-background light-color w-44 text-2xl self-center mb-5" id="create-blog-btn">+ New Post</button></a>
</div>
