* {
  font-family: Arial, Helvetica, sans-serif;
}

.card-style {
  border: 3px solid #2b0307;
}

.dark-color {
  color: #2b0307;
}

.dark-background {
  background-color: #2b0307;
}

.light-color {
  color: #c7e7b9;
}

.light-background {
  background-color: #c7e7b9;
}

.title-head {
  border-radius: 10px;
  font-size: 2.5em !important;
  box-shadow: 6px 6px 0px #c7e7b9a2;
  border-radius: 10px;
}

label {
  margin: 0.5em;
  font-weight: 700;
}

input,
button {
  height: 2.5em;
  border-radius: 8px;
}
